.theConnect__future-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 290px;
    height: 290px;

    background: var(--color-bg);
    box-shadow: 0px 2px 15px rgba(230, 230, 230, 0.5);
    border-radius: 8px;

}
.theConnect__future-container_edition {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.theConnect__future-container_edition-image {
    width: 40px;
    height: 40px;

    background: #EEE8F2;
    border-radius: 8px;
}


.theConnect__future-container_edition h4 {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    /* identical to box height */

    text-align: center;
    margin: 1rem 0;
    color: #0C0114;
}
.theConnect__future-container_edition button {
    width: 226px;
    height: 56px;
    color: var(--color-bg);
    border: none;

    background: var(--color-btn);
    border-radius: 4px;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */

    text-align: center;
}

.theConnect__future-container_article-content p:last-child {
    cursor: pointer;
}


@media screen and (max-width: 550px) {
    .gpt3__blog-container_article-content h3 {
        font-size: 18px;
        line-height: 25p;
    }
}