@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

:root {
  --font-family: 'Roboto', sans-serif;
  
  --color-bg: #fff;
  --color-btn : #3E0563;
  --color-footer: #1F0231;
  --color-blog: #042c54;
  --color-text: #0C0114;
  --color-subtext: #FA9706;
  --login-btn: #EEE8F2;
}